In [1]:
import os

mingw_path = 'C:\\Program Files\\mingw-w64\\x86_64-7.1.0-posix-seh-rt_v5-rev1\\mingw64\\bin'

os.environ['PATH'] = mingw_path + ';' + os.environ['PATH']

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from pandas.tseries.offsets import *
%matplotlib inline

In [5]:
imigrant = pd.read_csv("marrige.csv")
imigrant.loc[:,"timestamp"] = pd.to_datetime(imigrant.loc[:,"date"])
imigrant

           date  Saitama  Tiba  Tokyo  Kanagawa  Osaka  Total  timestamp
0      2009/1/1     3005  2706   6732      4047   3757  20247 2009-01-01
1      2009/1/2     3005  2706   6732      4047   3757  20247 2009-01-02
2      2009/1/3     3005  2706   6732      4047   3757  20247 2009-01-03
3      2009/1/4     3005  2706   6732      4047   3757  20247 2009-01-04
4      2009/1/5     3005  2706   6732      4047   3757  20247 2009-01-05
5      2009/1/6     3005  2706   6732      4047   3757  20247 2009-01-06
6      2009/1/7     3005  2706   6732      4047   3757  20247 2009-01-07
7      2009/1/8     3005  2706   6732      4047   3757  20247 2009-01-08
8      2009/1/9     3005  2706   6732      4047   3757  20247 2009-01-09
9     2009/1/10     3005  2706   6732      4047   3757  20247 2009-01-10
10    2009/1/11     3005  2706   6732      4047   3757  20247 2009-01-11
11    2009/1/12     3005  2706   6732      4047   3757  20247 2009-01-12
12    2009/1/13     3005  2706   6732      4047   3757  20247 2009-01-13
13    2009/1/14     3005  2706   6732      4047   3757  20247 2009-01-14
14    2009/1/15     3005  2706   6732      4047   3757  20247 2009-01-15
15    2009/1/16     3005  2706   6732      4047   3757  20247 2009-01-16
16    2009/1/17     3005  2706   6732      4047   3757  20247 2009-01-17
17    2009/1/18     3005  2706   6732      4047   3757  20247 2009-01-18
18    2009/1/19     3005  2706   6732      4047   3757  20247 2009-01-19
19    2009/1/20     3005  2706   6732      4047   3757  20247 2009-01-20
20    2009/1/21     3005  2706   6732      4047   3757  20247 2009-01-21
21    2009/1/22     3005  2706   6732      4047   3757  20247 2009-01-22
22    2009/1/23     3005  2706   6732      4047   3757  20247 2009-01-23
23    2009/1/24     3005  2706   6732      4047   3757  20247 2009-01-24
24    2009/1/25     3005  2706   6732      4047   3757  20247 2009-01-25
25    2009/1/26     3005  2706   6732      4047   3757  20247 2009-01-26
26    2009/1/27     3005  2706   6732      4047   3757  20247 2009-01-27
27    2009/1/28     3005  2706   6732      4047   3757  20247 2009-01-28
28    2009/1/29     3005  2706   6732      4047   3757  20247 2009-01-29
29    2009/1/30     3005  2706   6732      4047   3757  20247 2009-01-30
...         ...      ...   ...    ...       ...    ...    ...        ...
2982   2017/3/2     3587  2979   8576      4781   4778  24701 2017-03-02
2983   2017/3/3     3587  2979   8576      4781   4778  24701 2017-03-03
2984   2017/3/4     3587  2979   8576      4781   4778  24701 2017-03-04
2985   2017/3/5     3587  2979   8576      4781   4778  24701 2017-03-05
2986   2017/3/6     3587  2979   8576      4781   4778  24701 2017-03-06
2987   2017/3/7     3587  2979   8576      4781   4778  24701 2017-03-07
2988   2017/3/8     3587  2979   8576      4781   4778  24701 2017-03-08
2989   2017/3/9     3587  2979   8576      4781   4778  24701 2017-03-09
2990  2017/3/10     3587  2979   8576      4781   4778  24701 2017-03-10
2991  2017/3/11     3587  2979   8576      4781   4778  24701 2017-03-11
2992  2017/3/12     3587  2979   8576      4781   4778  24701 2017-03-12
2993  2017/3/13     3587  2979   8576      4781   4778  24701 2017-03-13
2994  2017/3/14     3587  2979   8576      4781   4778  24701 2017-03-14
2995  2017/3/15     3587  2979   8576      4781   4778  24701 2017-03-15
2996  2017/3/16     3587  2979   8576      4781   4778  24701 2017-03-16
2997  2017/3/17     3587  2979   8576      4781   4778  24701 2017-03-17
2998  2017/3/18     3587  2979   8576      4781   4778  24701 2017-03-18
2999  2017/3/19     3587  2979   8576      4781   4778  24701 2017-03-19
3000  2017/3/20     3587  2979   8576      4781   4778  24701 2017-03-20
3001  2017/3/21     3587  2979   8576      4781   4778  24701 2017-03-21
3002  2017/3/22     3587  2979   8576      4781   4778  24701 2017-03-22
3003  2017/3/23     3587  2979   8576      4781   4778  24701 2017-03-23
3004  2017/3/24     3587  2979   8576      4781   4778  24701 2017-03-24
3005  2017/3/25     3587  2979   8576      4781   4778  24701 2017-03-25
3006  2017/3/26     3587  2979   8576      4781   4778  24701 2017-03-26
3007  2017/3/27     3587  2979   8576      4781   4778  24701 2017-03-27
3008  2017/3/28     3587  2979   8576      4781   4778  24701 2017-03-28
3009  2017/3/29     3587  2979   8576      4781   4778  24701 2017-03-29
3010  2017/3/30     3587  2979   8576      4781   4778  24701 2017-03-30
3011  2017/3/31     3587  2979   8576      4781   4778  24701 2017-03-31

[3012 rows x 8 columns]

In [6]:
imigrant = imigrant.set_index("timestamp")
imigrantA = imigrant.loc["2009-07-01":"2016-03-31"]
imigrantB = imigrantA.reset_index()
imigrantC = imigrantB.drop("timestamp",axis=1)
imigrantC = imigrantC.drop("date",axis=1)
imigrantC.loc[:,"timestamp"] = pd.date_range("2010-07-01",freq="D",periods=2466)
imigrantC
imigrantC.to_csv('marigge2.csv')

                 date  Saitama  Tiba  Tokyo  Kanagawa  Osaka  Total
timestamp
2009-01-01   2009/1/1     3005  2706   6732      4047   3757  20247
2009-01-02   2009/1/2     3005  2706   6732      4047   3757  20247
2009-01-03   2009/1/3     3005  2706   6732      4047   3757  20247
2009-01-04   2009/1/4     3005  2706   6732      4047   3757  20247
2009-01-05   2009/1/5     3005  2706   6732      4047   3757  20247
2009-01-06   2009/1/6     3005  2706   6732      4047   3757  20247
2009-01-07   2009/1/7     3005  2706   6732      4047   3757  20247
2009-01-08   2009/1/8     3005  2706   6732      4047   3757  20247
2009-01-09   2009/1/9     3005  2706   6732      4047   3757  20247
2009-01-10  2009/1/10     3005  2706   6732      4047   3757  20247
2009-01-11  2009/1/11     3005  2706   6732      4047   3757  20247
2009-01-12  2009/1/12     3005  2706   6732      4047   3757  20247
2009-01-13  2009/1/13     3005  2706   6732      4047   3757  20247
2009-01-14  2009/1/14     3005  2706   6732      4047   3757  20247
2009-01-15  2009/1/15     3005  2706   6732      4047   3757  20247
2009-01-16  2009/1/16     3005  2706   6732      4047   3757  20247
2009-01-17  2009/1/17     3005  2706   6732      4047   3757  20247
2009-01-18  2009/1/18     3005  2706   6732      4047   3757  20247
2009-01-19  2009/1/19     3005  2706   6732      4047   3757  20247
2009-01-20  2009/1/20     3005  2706   6732      4047   3757  20247
2009-01-21  2009/1/21     3005  2706   6732      4047   3757  20247
2009-01-22  2009/1/22     3005  2706   6732      4047   3757  20247
2009-01-23  2009/1/23     3005  2706   6732      4047   3757  20247
2009-01-24  2009/1/24     3005  2706   6732      4047   3757  20247
2009-01-25  2009/1/25     3005  2706   6732      4047   3757  20247
2009-01-26  2009/1/26     3005  2706   6732      4047   3757  20247
2009-01-27  2009/1/27     3005  2706   6732      4047   3757  20247
2009-01-28  2009/1/28     3005  2706   6732      4047   3757  20247
2009-01-29  2009/1/29     3005  2706   6732      4047   3757  20247
2009-01-30  2009/1/30     3005  2706   6732      4047   3757  20247
...               ...      ...   ...    ...       ...    ...    ...
2017-03-02   2017/3/2     3587  2979   8576      4781   4778  24701
2017-03-03   2017/3/3     3587  2979   8576      4781   4778  24701
2017-03-04   2017/3/4     3587  2979   8576      4781   4778  24701
2017-03-05   2017/3/5     3587  2979   8576      4781   4778  24701
2017-03-06   2017/3/6     3587  2979   8576      4781   4778  24701
2017-03-07   2017/3/7     3587  2979   8576      4781   4778  24701
2017-03-08   2017/3/8     3587  2979   8576      4781   4778  24701
2017-03-09   2017/3/9     3587  2979   8576      4781   4778  24701
2017-03-10  2017/3/10     3587  2979   8576      4781   4778  24701
2017-03-11  2017/3/11     3587  2979   8576      4781   4778  24701
2017-03-12  2017/3/12     3587  2979   8576      4781   4778  24701
2017-03-13  2017/3/13     3587  2979   8576      4781   4778  24701
2017-03-14  2017/3/14     3587  2979   8576      4781   4778  24701
2017-03-15  2017/3/15     3587  2979   8576      4781   4778  24701
2017-03-16  2017/3/16     3587  2979   8576      4781   4778  24701
2017-03-17  2017/3/17     3587  2979   8576      4781   4778  24701
2017-03-18  2017/3/18     3587  2979   8576      4781   4778  24701
2017-03-19  2017/3/19     3587  2979   8576      4781   4778  24701
2017-03-20  2017/3/20     3587  2979   8576      4781   4778  24701
2017-03-21  2017/3/21     3587  2979   8576      4781   4778  24701
2017-03-22  2017/3/22     3587  2979   8576      4781   4778  24701
2017-03-23  2017/3/23     3587  2979   8576      4781   4778  24701
2017-03-24  2017/3/24     3587  2979   8576      4781   4778  24701
2017-03-25  2017/3/25     3587  2979   8576      4781   4778  24701
2017-03-26  2017/3/26     3587  2979   8576      4781   4778  24701
2017-03-27  2017/3/27     3587  2979   8576      4781   4778  24701
2017-03-28  2017/3/28     3587  2979   8576      4781   4778  24701
2017-03-29  2017/3/29     3587  2979   8576      4781   4778  24701
2017-03-30  2017/3/30     3587  2979   8576      4781   4778  24701
2017-03-31  2017/3/31     3587  2979   8576      4781   4778  24701

[3012 rows x 7 columns]